<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="container"></div>
    <div><h2>Welcome to About Us page</h2> </div>
    <div>
     <p>This is About us page.</p>
     <p>This page describes about us and our team. This page describes about us and our team. This page describes about us and our team.</p>
     <p>This page describes about us and our team. This page describes about us and our team.  This page describes about us and our team.</p>
     <p>This page describes about us and our team. This page describes about us and our team. This page describes about us and our team.</p>
     <p>This page describes about us and our team. This page describes about us and our team. This page describes about us and our team.</p>
     <p>This page describes about us and our team. This page describes about us and our team. This page describes about us and our team.</p>
    </div>
  </div>