
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Login Form -->
        <form action="/loginConfirm" method="POST">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="login" placeholder="Username"> 
                    </div>

                    <div class="form-group">
                        <label>Passowrd</label>
                        <input type="password" class="form-control" name="password" placeholder="Passowrd"> 
                    </div>
                
                    <input type="submit" class="btn btn-success" value="Log In">
                </div>
            </div>
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
        </div>
    </div>
</div>